


# --- [PYTHON]
# Ignore virtual environments
env/
.venv/
__pycache__/


# --- [DATABASE]
# Ignore database linked data folders
database/volumes/*
database/media/*
**/volumes/

# --- [ENVIRONMENT FILES]
# Ignore all environment files 
**/*.env

# --- [FILES]
# Ignore all image files
**/*.png
**/*.jpeg
