"""CLI admin service functions to

* create a new user
* delete a user
* modifify user privileges
* modify user passwords

Run with:
$ uv run -m server.admin

WARNING: This script requires direct access to the database server and should
         be exposed to system administrators only.

"""

from getpass import getpass
import logging
from logging import error, info
from rich.prompt import Prompt
from tabulate import tabulate

from server.DataBaseClient import DataBaseClient
from server.InventoryUser import InventoryUser, UserPrivileges

database_host = "127.0.0.1"
database_port = {{ database_port }}

def main():
  """Admin CLI functions to handle inventory users"""

  info(
    f"Trying to connect to inventory database at {database_host}:{database_port} ..."
  )
  client = DataBaseClient(host=database_host, port=database_port)

  info("Possible admin actions:\n")
  info("--- Admin Functions ---")
  info("1 - Create user")
  info("2 - Delete User")
  info("3 - Change user privileges")
  info("4 - Change user password\n")
  info("--- Log Functions ---")
  info("5 - List inventory")
  info("6 - List login history")
  info("7 - List checkout history")
  answer = Prompt.ask(
    "Enter action to perform", choices=["1", "2", "3", "4", "5", "6", "7"], default="1"
  )

  if answer == "1":
    create_user(client)
  elif answer == "2":
    delete_user(client)
  elif answer == "3":
    update_privileges(client)
  elif answer == "4":
    update_password(client)
  elif answer == "5":
    list_inventory(client)
  elif answer == "6":
    list_login_history(client)
  elif answer == "7":
    list_checkout_history(client)


# ------------------------------------------------------------------------------
#                         ADMIN SERVICE FUNCTIONS
# ------------------------------------------------------------------------------


def create_user(client: DataBaseClient = None):
  """Create a new Inventory user via terminal prompts"""
  info("[Create user]")
  client.connect()
  pw_invalid = True
  privileges_invalid = True
  username = input("Enter user name :")
  # Remove whitespaces from user name
  username = username.strip(" ")

  while pw_invalid:
    pw1 = getpass("Enter user password:")
    pw2 = getpass("Repeat user password:")

    # Remove whitespaces from both inputs
    pw1 = pw1.strip(" ")
    pw2 = pw2.strip(" ")

    if not pw1 == pw2:
      error("Passwords don't match. Try again")
    else:
      pw_invalid = False

  while privileges_invalid:
    privileges = input(
      (
        "Enter user privileges Select: \n"
        "0 - For GUEST \n"
        "1 - For REPORTER \n"
        "2 - For DEVELOPPER \n"
        "3 - For MAINTAINER \n"
        "4 - For OWNER \n"
      )
    )

    privileges = int(privileges)

    if not (
      privileges >= UserPrivileges.GUEST.value
      and privileges <= UserPrivileges.OWNER.value
    ):
      error(
        (
          "Entered privilege level is not valid. Select: \n"
          "0 - For GUEST \n"
          "1 - For REPORTER \n"
          "2 - For DEVELOPPER \n"
          "3 - For MAINTAINER \n"
          "4 - For OWNER \n"
        )
      )
    else:
      privileges_invalid = False

  # Create user
  inventoryUser = InventoryUser(
    user_name=username, user_password=pw1, user_privileges=UserPrivileges(privileges)
  )

  # Create new user
  client.add_inventory_user(inventoryUser)
  client.close_connection()


def delete_user(client: DataBaseClient = None):
  """Delete Inventory user"""
  info("[Delete user]")
  valid = False
  client.connect()

  while not valid:
    username = input("Enter user name : ")
    # Remove whitespaces from user name
    username = username.strip(" ")

    valid, _ = client.get_inventory_user_as_object(username)

    if not valid:
      error("User not found. Try again.")

  valid = False

  while not valid:
    answer = input(f"Delete user {username} ? [yes/y] [n/no]\n")
    answer = str(answer).strip(" ").lower()
    if answer == "y" or answer == "yes":
      valid = True
    elif answer == "n" or answer == "no":
      info("Exit")
      exit(0)
    else:
      error("Confirmation invalid try again")

  # Delete user
  client.delete_inventory_user(username)
  client.close_connection()


def update_privileges(client: DataBaseClient = None):
  """Update existing inventory users privileges"""
  info("[Update user privileges]")
  valid = False
  privileges_invalid = True
  client.connect()

  while not valid:
    username = input("Enter user name : ")
    # Remove whitespaces from user name
    username = username.strip(" ")

    valid, user_instance = client.get_inventory_user_as_object(username)

    if not valid:
      error("User not found. Try again.")

  while privileges_invalid:
    privileges = input(
      (
        "Enter user privileges Select: \n"
        "0 - For GUEST \n"
        "1 - For REPORTER \n"
        "2 - For DEVELOPPER \n"
        "3 - For MAINTAINER \n"
        "4 - For OWNER \n"
      )
    )

    privileges = int(privileges)

    if not (
      privileges >= UserPrivileges.GUEST.value
      and privileges <= UserPrivileges.OWNER.value
    ):
      error(
        (
          "Entered privilege level is not valid. Select: \n"
          "0 - For GUEST \n"
          "1 - For REPORTER \n"
          "2 - For DEVELOPPER \n"
          "3 - For MAINTAINER \n"
          "4 - For OWNER \n"
        )
      )
    else:
      privileges_invalid = False

  # Modify privileges of existing user
  user_instance.user_privileges = privileges

  info(
    f"Setting user privileges for {user_instance.user_name} to {UserPrivileges(privileges).name}"
  )
  # Update user privileges in database
  client.update_inventory_user_privileges(user=user_instance)
  client.close_connection()


def update_password(client: DataBaseClient = None):
  """Update existing inventory users password"""
  info("[Update user password]")
  valid = False
  pw_invalid = True
  client.connect()

  while not valid:
    username = input("Enter user name : ")
    # Remove whitespaces from user name
    username = username.strip(" ")

    valid, user_instance = client.get_inventory_user_as_object(username)

    if not valid:
      error("User not found. Try again.")

  while pw_invalid:
    pw1 = getpass("Enter user password:")
    pw2 = getpass("Repeat user password:")

    # Remove whitespaces from both inputs
    pw1 = pw1.strip(" ")
    pw2 = pw2.strip(" ")

    if not pw1 == pw2:
      error("Passwords don't match. Try again")
    else:
      pw_invalid = False

  # Modify privileges of existing user
  user_instance.set_user_password(user_password=pw1)

  # Update user privileges in database
  client.update_inventory_user_password(user=user_instance)
  client.close_connection()

  info(f"Password for user {user_instance.user_name} updated!")


def list_inventory(client: DataBaseClient = None):
  client.connect()
  print(tabulate(client.get_all_inventory_as_df(), headers="keys", tablefmt="psql"))
  client.close_connection()


def list_login_history(client: DataBaseClient = None):
  client.connect()
  print(tabulate(client.get_login_log_as_df(), headers="keys", tablefmt="psql"))
  client.close_connection()


def list_checkout_history(client: DataBaseClient = None):
  client.connect()
  print(tabulate(client.get_checkout_log_as_df(), headers="keys", tablefmt="psql"))
  client.close_connection()


# ------------------------------------------------------------------------------
#
# ------------------------------------------------------------------------------

if __name__ == "__main__":
  logging.basicConfig(
    format="%(asctime)s [%(levelname)s] %(message)s",
    datefmt="%H:%M:%S",
    level=logging.INFO,
  )
  main()
