services:

  inventory_server:
    image: inventoryserver:latest
    container_name: inventory-server
    restart: unless-stopped
    ports:
      - "{{ inventory_server_port }}:5000"
    volumes:
      - ./backend/media:/app/media
      - ./backend/inventory_db:/app/db
    extra_hosts:
      - "host.docker.internal:host-gateway"

  inventory_app:
    image: inventoryapp:latest
    container_name: inventory-app
    restart: unless-stopped
    environment:
      INVENTORY_SERVER_URL: {{ inventory_server_url  }}
    ports:
      - "{{ inventoryapp_port }}:3000"

networks:
  invnet:
