http:
  middlewares:
    strip_api:
      stripPrefix:
        prefixes:
          - "/api"
    upload_limit:
      buffering:
        maxRequestBodyBytes: 10485760  # Increase upload limit to 10MB
  routers:
    inventory_app:
      rule: "Host(`{{ host_url }}`)"
      entryPoints:
        - websecure
      tls:
        certResolver: selfsigned
      service: inventory_service

    inventory_api:
      rule: "Host(`{{ host_url }}`) && PathPrefix(`/api`)"
      entryPoints:
        - websecure
      tls:
        certResolver: selfsigned
      service: inventory_backend_service
      middlewares:
        - strip_api
        - upload_limit

  services:
    inventory_service:
      loadBalancer:
        servers:
          - url: "http://inventory-app:3000"

    inventory_backend_service:
      loadBalancer:
        servers:
          - url: "http://inventory-server:5000"
