

PUBLIC_INVENTORY_SERVER_URL="http://{{ host_address }}:{{ inventory_server_port }}"
PUBLIC_INVENTORY_CAMERA_URL="http://{{ host_address }}:{{ camera_server_port }}"
PUBLIC_INVENTORY_PRINTER_URL="http://{{ host_address }}:{{ printer_server_port }}"