# [!SENSITIVE!] Name of the table in INVENTORY_DB_NAME database to store the
#               Inventory users
# [!SETUP!] This is set by the install to match the variable of the same name 
#           in the backend/.env file
MYSQL_USER = "{{ mysql_user }}"

# [!SENSITIVE!] Name of the table in INVENTORY_DB_NAME database to store the
#               Inventory users
# [!SETUP!] This is set by the install to match the variable of the same name 
#           in the backend/.env file
MYSQL_PASSWORD = "{{ mysql_user_password }}"
